.information-container2 {
    width: 90%;
    height: 100%;
    border: 1px solid #fff;
    margin: auto;
}    
.information-container2 .presentaction {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    margin: auto;
}
.information-container2 .presentaction .container_aboutme {
    width: 90%;
    height: 100%;
    border: 1px solid #fff;
    margin: auto;
    color: #d5d5d5;;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.information-container2 .presentaction .container_aboutme .name_about_me {
    font-size: 3.5rem;
    width: 100% !important;
}

.information-container2 .presentaction .container_aboutme .me {
    width: 65%;
    height: 500px ;
    font-size: 1.7rem;
    text-align: justify;
    padding: 0 15px;
}

.information-container2 .presentaction .container_aboutme .me-date {
    width: 35%;
    height: 300px;
    font-size: 1.7rem;
}