.menu-container .full-container .information-container6 {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 105%;
    width: 70%;
    max-width: 1280px;
    min-height: 80vh;
    background-color: purple;
    transition: all .5s;
}

#contacto:checked ~ .full-container > .information-container6 {
    left: 30%;
}