.menu-container .full-container .information-container2 {
    width: 70%;
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 120%;
    /*max-width: 1300px;*/
    min-height: 80vh;
    background-color: #222;
    transition: all .5s;
}

#about-me:checked ~ .full-container > .information-container2 {
    left: 26%;
}