.menu-container .full-container .information-container {
    /*width: 860px;*/
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 24%;
    width: 65%;
    /*max-width: 1300px;*/
    min-height: 80vh;
    transition: all .5s;
    background-color: #222;
}

.container-main .menu-container .full-container .information-container h1, h3 {
    color: #fff;
}

.container-main .menu-container .full-container .information-container .presentaction {
    height: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.container-main .menu-container .full-container .information-container .presentaction .name {
    width: 100%;
    text-align: center;
    color: #f5f5f5;
    font-size: 68px;
    line-height: 74px;
    /*font-weight: 600;*/
    /*font-family: 'CamingoCode-Regular';*/
}

.container-main .menu-container .full-container .information-container .presentaction h1 .firtName {
    font-family: 'CamingoCode-Regular';
    font-size: 6.5rem;
    font-weight: bold;
}


.container-main .menu-container .full-container .information-container .presentaction .name .llave {
    color: #f8e812;
    font-family: 'CamingoCode-Regular';
    font-size: 8.0rem;
    
}

.container-main .menu-container .full-container .information-container .presentaction .name .deve {
    font-family: 'CamingoCode-Regular';
    font-size: 6.0rem;
}


.container-main .menu-container .full-container .information-container .presentaction .profession {
    color: #aaa;
    font-size: 2.1rem;
    font-weight: 300;
    margin: 5px 0;
    font-family: 'CamingoCode-Regular';
    font-size: 3.0rem;
    margin-top: 30px;
}