.menu-container .full-container .information-container4 {
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 120%;
    width: 70%;
    max-width: 1300px;
    min-height: 80vh;
    background-color: green;
    transition: all .5s;
}

#portafolio:checked ~ .full-container > .information-container4 {
    left: 27.5%;
}