.container-main .menu-container input {
    display: none;
}

.container-main .menu-container {
    width: 100%;
    height: 80vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;
}

.container-main .menu-container .container-menu {
    height: 330px;
    position: absolute;
    padding: 15px 0;
    width: 70px;
    /*height: 30px;*/
    right: -90px;
    background-color: #444;
    border-radius: 35px;
    z-index: 999;
    list-style: none;
    top: 5px;
    -webkit-box-shadow: 0 0 30px -5px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 30px -5px rgba(0,0,0,.15);
    box-shadow: 0 0 30px -5px rgb(0 0 0 / 15%);
}


.menu-container .container-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
}

.menu-container ul {
    padding-left: 0 !important;
    text-align: center;
}

.menu-container ul li {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.menu-container ul li:hover > a {
    background-color: #f8e812;
    /*border-radius: 40%;*/
    color: #222;
    cursor: pointer;
}

.menu-container ul li a {
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #fff;
}